* {
    font-family: NotoSans NFP;
    font-size: 14px;
    min-height: 0;
}
window#waybar {
    background: #1c1c1c;
    color: #cccccc;
}
#workspaces button {
    color: #262626;
    border: none;
    padding: 4px;
    margin: 0 5px;
}
#workspaces button.current_output {
    color: #525252;
}
#workspaces button.focused {
    color: #cccccc;
}
#workspaces button:hover {
    transition: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
}
#clock,
#workspaces {
    background: #363636;
    border-radius: 2px;
    font-weight: 600;
    margin: 4px 0;
    padding: 0 10px;
}
#workspaces {
    margin-left: 10px;
}
#custom-firefox,
#custom-explorer,
#custom-localsend,
#custom-signal {
    background: #363636;
    padding: 0 10px;
    margin: 4px 0;
}
#custom-firefox {
    border-radius: 2px 0 0 2px;
}
#custom-signal {
    border-radius: 0 2px 2px 0;
    margin-right: 10px;
}
#wireplumber,
#battery,
#network,
#backlight {
    background: #363636;
    padding: 0 10px;
    margin: 4px 0;
}
#network {
    border-radius: 0 2px 2px 0;
}
#battery {
    border-radius: 2px 0 0 2px;
}
#wireplumber.muted {
    color: #000000; background: #b0b0b0;
}
#clock {
    margin-left: 10px;
    margin-right: 10px;
}
