/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0f0f0f;
    background-alt: #232323;
    foreground:     #FFFFFFFF;
    selected:       #c8c8c8;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
