* {
    font-family: NotoSans;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    /* background: #1c1c1c; */
    /* color: #cccccc; */
    /* border-radius: 0 0 10px 10px; */

    background: transparent;
    color: #cccccc;
    /* border-radius: 0 0 10px 10px; */
}

#workspaces button {
    border: none;
    padding: 4px;
    margin: 0 5px;
}

#workspaces button.persistent.active {
    color: #cccccc;
    transition: all .2s ease-in-out;
}

#workspaces button.persistent {
    color: #525252;
    transition: all .2s ease-in-out;
}

#workspaces button.empty {
    color: #262626;
}

#workspaces button:hover {
    transition: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
}

#battery,
#backlight,
#network,
#pulseaudio,
#clock,
#window,
#workspaces {
    /* background: #363636; */
    background: #1a1a1a;
    font-weight: 600;
    margin: 6px 0;
    padding: 0 10px;
}

#workspaces {
    border-radius: .7rem;
    margin-left: 20px;
}

#battery {
    border-radius: .7rem 0 0 .7rem;
}

#pulseaudio.muted {
    color: #000000; background: #b0b0b0;
}

#clock {
    border-radius: 0 .7rem .7rem 0;
    margin-right: 20px;
}
