* {
    font-family: NotoSans NFP;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #cccccc;
}

#workspaces button {
    border: none;
    padding: 4px;
    margin: 0 5px;
}

#workspaces button.persistent.active {
    color: #cccccc;
    transition: all .2s ease-in-out;
}

#workspaces button.persistent {
    color: #484a52;
    transition: all .2s ease-in-out;
}

#workspaces button.empty {
    color: #13141c;
}

#workspaces button:hover {
    transition: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
}

#battery,
#backlight,
#network,
#pulseaudio,
#clock,
#window,
#workspaces {
    background: #1a1b26;
    font-weight: 600;
    margin: 6px 0;
    padding: 0 10px;
}

#workspaces {
    border-radius: .7rem;
    margin-left: 20px;
}

#battery {
    border-radius: .7rem 0 0 .7rem;
}

#pulseaudio.muted {
    color: #000000;
    background: #cccccc;
}

#clock {
    border-radius: 0 .7rem .7rem 0;
    margin-right: 20px;
}
